container_commands:
  01_run_migrations:
    command: |
      echo "==== Migration started at $(date) ===="
      php artisan migrate --force
      php artisan config:clear
      php artisan cache:clear
      php artisan optimize
      echo "==== Migration finished at $(date) ===="
    cwd: "/var/app/staging"